@model Munkabeosztas_ASP_NET_Core.Models.MunkaViewModel

@{
    ViewData["Title"] = "Munka szerkesztése";
}

<div class="adminform-container">
    <div class="adminform-title">
        @ViewData["Title"]
        @Html.ActionLink("[X]", "Index", "Home", null, new { @class = "cancel-button" })
    </div>
    <div class="adminform-body">
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Helyszin, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Helyszin, new { @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.Datum, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Datum, new { @type = "date", @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.Leiras, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Leiras, new { @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.SelectedGepjarmu, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.SelectedGepjarmu, new SelectList(Model.GepjarmuList, "Value", "Text"), new { @class = "combobox" })<br /><br />

            @Html.LabelFor(model => model.DolgozoList, new { @class = "labeltext" })<br />
            <div class="checkbox-list">
                @for (var i = 0; i < Model.DolgozoList.Count(); i++)
                {
                    @Html.HiddenFor(model => model.DolgozoList[i].Csaladnev)
                    @Html.HiddenFor(model => model.DolgozoList[i].Keresztnev)
                    @Html.HiddenFor(model => model.DolgozoList[i].DolgozoId)
                    @Html.CheckBoxFor(model => model.DolgozoList[i].IsChecked)
                    @Html.Label(null, Model.DolgozoList[i].Csaladnev + " " + Model.DolgozoList[i].Keresztnev, new { @style = "font-weight: normal;" })<br />
                }
            </div><br /><br />
            @Html.HiddenFor(model => model.MunkaId)
            <input type="submit" class="save-submit-button" name="Save" value="Mentés" /><br />
        }
    </div>
</div>