@model Munkabeosztas_ASP_NET_Core.Models.MunkaViewModel

@{
    ViewData["Title"] = "Munka szerkesztése";
}

<div class="adminform-container">
    <div class="adminform-title">
        Új munka létrehozása
        @Html.ActionLink("[X]", "Index", "Home", null, new { @class = "cancel-button" })
    </div>
    <div class="adminform-body">
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Helyszin, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Helyszin, new { @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.Datum, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Datum, new { @type = "date", @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.Leiras, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Leiras, new { @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.SelectedGepjarmu, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.SelectedGepjarmu, new SelectList(Model.GepjarmuList, "Value", "Text"), new { @class = "combobox" })<br /><br />

            @Html.LabelFor(model => model.DolgozoList, new { @class = "labeltext" })<br />
            <div class="checkbox-list">
                @foreach (var item in Model.DolgozoList)
                {
                    if (item.IsChecked)
                    {
                        @Html.CheckBox(item.Csaladnev + " " + item.Keresztnev, new { value = item.DolgozoId, @checked = "checked" })
                    } else
                    {
                        @Html.CheckBox(item.Csaladnev + " " + item.Keresztnev, new { value = item.DolgozoId })
                    }
                    @Html.Label(null, item.Csaladnev + " " + item.Keresztnev, new { @style = "font-weight: normal;" })<br />
                }
            </div><br /><br />

            <input type="submit" class="save-submit-button" name="Save" value="Mentés" /><br />
        }
    </div>
</div>